mnist_minimal_example/__pycache__/
mnist_minimal_example/FrEIA/__pycache__/
mnist_minimal_example/FrEIA/modules/__pycache__/
mnist_minimal_example/FrEIA/framework/__pycache__/
mnist_minimal_example/FrEIA/modules/splines/__pycache__/
mnist_minimal_example/output